body { 
  background-color: darkgrey;
  font-family: "Roboto Condensed", sans-serif;
}

.wrapper {
  background-color: silver;
  border: 2px solid #e3e3e3;
}

header {
  background-color: darkgrey;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 350%;
  font-family: "Syne Mono", monospace;
}

header h2 {
  font-size: 225%;
}

main {
  width: 960px;
  margin: 0 auto;
  font-size: 125%;
  line-height: 1.3;
  padding: 1em 0;
}

footer {
  background-color: darkgray;
  padding: 1em;
  display: flex;
  justify-content: center;
}

footer a {
  font-size: 160%;
  text-decoration: none;
  color: #546880;
}

footer a:hover {
  color: blue;
  text-shadow: 0 0 6px black;
}

header figure {
  height: 250px;
  margin-left: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header img {
  border: 2px solid white;
  border-radius: 2rem;
  margin-bottom: .5rem;
}

figcaption {
  text-align: center;
  font-size: 80%;
}

.Cosmo {
  height: 200px;
  width: auto;
}

.Lucky {
  height: 200px;
}

.Diggy {
  width: 150px
}

.cat {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap; 
  height: 250px;
}

